<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.acfun.a63"
    android:versionCode="11"
    android:versionName="1.1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:name="tv.acfun.a63.AcApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/icon"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tv.acfun.a63.MainActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="user"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SigninActivity" />
        <activity
            android:name=".ArticleActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="user"
            android:label="@string/app_name_open" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="ac" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".ImagePagerActivity"
            android:screenOrientation="user"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MentionActivity" />
        <activity
            android:name=".CommentsActivity"
            android:screenOrientation="user"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ConversationActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="523706eb56240b0db70293fe" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="XiaoMi" />
		<service android:name="tv.acfun.a63.service.PushService"/>
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" />
    </application>

</manifest>