<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tv.acfun.a63" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-sdk tools:overrideLibrary="com.diegocarloslima.byakugallery.lib"/>

    <application
        android:name="tv.acfun.a63.AcApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/icon"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tv.acfun.a63.MainActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="user"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SigninActivity" android:theme="@style/AppTheme.Translucent"/>
        <activity
            android:name=".ArticleActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="user"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="ac" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="www.acfun.com" android:pathPattern="/a/ac.*" />
                <data android:scheme="http" android:host="www.acfun.tv" android:pathPattern="/a/ac.*" />
                <data android:scheme="http" android:host="www.acfun.com" android:pathPattern="/v/ac.*" />
                <data android:scheme="http" android:host="www.acfun.tv" android:pathPattern="/v/ac.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DonateActivity"
            android:exported="false"
            android:label="@string/buy_me_coffee" >
            <intent-filter>
                <action android:name="tv.acfun.a63.action.DONATE" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".ImagePagerActivity"
            android:theme="@style/AppTheme.Translucent"
            android:screenOrientation="user"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".SettingsActivity" android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".MentionActivity" android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".CommentsActivity"
            android:theme="@style/AppTheme.Translucent"
            android:screenOrientation="user"
            android:exported="true"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ConversationActivity" />
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="523706eb56240b0db70293fe" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="GooglePlay" />
		<service android:name="tv.acfun.a63.service.PushService"/>
		<service android:name="tv.acfun.a63.service.KeepOnlineService"/>
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

    </application>

</manifest>