img {
max-width: 95%;
}
body, div, a {
	font-size: 16px;
    word-wrap: break-word;
    vertical-align: baseline;
    margin:0;
    }
li{
	margin:0;
 	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	list-style-type: none;
	vertical-align: baseline;
}
#content {
    padding:2% 5%;
    font-size: 1.0em;
    line-height: 140%;
    color: inherit;
    }

h1, h2, h3, h4 ,h5, h6 {
    font-size:1.2em;
    font-weight:bold;
    clear: both;
    }

#content a {
    color:#455767;
    text-decoration:underline;
    -webkit-tap-highlight-color: rgba(243, 200, 10, 0);

    }

#content p {
    margin:10px 0 10px 0;
    word-wrap:break-word;
    font-size: 1em;
    text-indent:2em;
    clear: both;
    }

#content li {
    margin-left:10px;
    clear:both;
    }


#content .content-loading {
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:#666;
    text-shadow: 1px 1px 1px white;
    }

#content table {
    float: left;
    clear: both;
    }
	
#content hr{
	border-top: 1px dashed #999999;

}  
#title{
    text-align: center;
	padding: 1% 2%;
	border-bottom: 1px solid #ebeced;
}

#info .article-info {
    font-size:14px;
    line-height:15px;
	list-style: none;
}
#info a{
    text-decoration:none;
    -webkit-tap-highlight-color: rgba(243, 200, 10, 0);
 	color: #c66;
}
#info img{

    border-radius: 1px;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
}
#artcle-pager li{
    list-style-type: decimal;
}

.article-pubdate{
	color: #9fa3a7;
	font-weight: bold;
}

.article-category{
	font-weight: bold;
	color: #0187c5;

}

.article-subtitle{
	font-size: 1.3em;
	line-height: 32px;
}
.anchor a{
    text-decoration: none;
}   
.article-title {
	color:#0187c5;
	font-size: 1.5em;
	line-height: 32px;
	
}
#content img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 480px) {
  button {
    min-width: 40%;
  } 
}

#footer {
padding:4%;
text-align: center;
}